<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.0" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">

	<servlet>
        <servlet-name>room</servlet-name>
        <servlet-class>com.yangc.webrtc.servlet.WebRTCRoomServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>room</servlet-name>
        <url-pattern>/room</url-pattern>
    </servlet-mapping>

	<servlet>
        <servlet-name>message</servlet-name>
        <servlet-class>com.yangc.webrtc.servlet.WebRTCMessageServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>message</servlet-name>
        <url-pattern>/message</url-pattern>
    </servlet-mapping>

	<welcome-file-list>
		<welcome-file>room</welcome-file>
	</welcome-file-list>
</web-app>
